<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Nachingrilla</h1>
        <div class="content">
            <div class="tableContainer">
                <h2>Tablero</h2>
                <div id="crossword" class="crossword"></div>
            </div>
            <div class="tableContainer">
                <h2>Silabas</h2>
                <div id="syllables" class="syllables"></div>
            </div>
            <div class="tableContainer">
                <h2>Definiciones</h2>
                <div id="definitions" class="definitions"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
