body {
    font-family: 'Open Sans';
    background-color: #f0f0f0;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: #888 solid 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.content {
    display: flex;
    flex-wrap: wrap;
    border: #888 solid 1px;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    margin: 15px;
    min-width: 250px;
    max-width: 330px;
}

.crossword {
}

.syllables {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    max-width: 300px;
}

.definitions {
    width: 30%;
    min-width: 300px;
    max-height: 400px;
    padding: 0;
    overflow-y: scroll;
}

.wordDiv {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 3px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 3px;
    background-color: white;
    border: #888 solid 1px;
}

.markedCell {
    background-color: rgb(32, 255, 32);
}

h1 {
    color: #333;
    font-size: 50px;
    padding: 20px;
}

h2 {
    color: #333;
}